body {
	background-color: #767978;
	font-family: "berlin sans fb", "aller", "calibri";
}

.Nav {
    list-style-type: none;
    margin: auto;
	position: fixed;
	background-color: #f;
    padding: 0;
    overflow: hidden;
}

.navList {
    float: left;
}
  