body {
	background-color: #767978;
	font-family: "berlin sans fb", "aller", "calibri";
}

.Nav {
	position: fixed;
	background-color: #ffffff;
    padding: 0;
    overflow: hidden;
}

.navList {
    float: left;
}
  